* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#sideNav {
    overflow-y: hidden;
}

#commentsNav {
    overflow-y: scroll;
    max-height: 430px;
}

.no-arrow-dropdown.dropdown-toggle::after {
    content: none !important;
}

.w-300 {
    max-width: 300px !important;
}

.w-60 {
    width: 60px !important;
}

.border-circle {
    border-radius: 50px;
    overflow: hidden;
}

.border-circle>img {
    object-fit: fill;
}

.text-grey {
    color: rgb(155, 157, 158) !important;
}

.bg-grey {
    background-color: rgb(184, 184, 184) !important;
}

.gradient-black {
    background: rgb(0, 0, 0);
    background: linear-gradient(27deg, rgba(0, 0, 0, 1) 0%, rgba(47, 47, 47, 1) 81%);
}

.bg-gradient-black {
    background: rgb(18, 18, 18);
    background: linear-gradient(27deg, rgba(18, 18, 18, 1) 0%, rgba(33, 33, 33, 1) 81%);
}

.bg-dark-grey {
    background: rgb(43, 43, 43);
    background: linear-gradient(27deg, rgba(43, 43, 43, 1) 0%, rgba(46, 46, 46, 1) 81%);
}

.bg-dark-black {
    background: rgb(31, 31, 31);
    background: linear-gradient(27deg, rgba(31, 31, 31, 1) 0%, rgba(61, 61, 61, 1) 87%);
}

.bg-white-transparent{
    background-color: rgba(255, 255, 255, 0.043)!important;
}

.description-card{
    font-size: 0.9em;
}


/* @media only screen and (min-width:977px){


.card{
    min-height: 420px;
}
} */



.over-bar{
    bottom: 0px;
}

@media screen and (max-width:991px) {
    .over-bar{
        bottom: 75px;
    }
}