*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* body,html{
    height: 100%;
} */

#sideNav{
    /* height: 100%; */
    overflow-y: hidden;
}

#commentsNav{
    overflow-y: scroll;
    max-height: 430px;
}

.no-arrow-dropdown.dropdown-toggle::after{
    content:none!important;
}

.w-300{
    width: 300px!important;
}

.w-60{
    width: 60px!important;
}

.border-circle{
    border-radius: 50px;
}