*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}



#sideNav{
    overflow-y: hidden;
}

#commentsNav{
    overflow-y: scroll;
    max-height: 430px;
}

.no-arrow-dropdown.dropdown-toggle::after{
    content:none!important;
}

.w-300{
    width: 300px!important;
}

.w-60{
    width: 60px!important;
}

.border-circle{
    border-radius: 50px;
    overflow: hidden;
}

.border-circle > img{
    object-fit: fill;
}

.text-grey{
    color: rgb(155, 157, 158)!important;
}

.bg-grey{
    background-color: rgb(184, 184, 184)!important;
}